#S1{
    height: 700px;
    background-color: azure;
}
#S2{
    height: 600px;
}
#S3{
    height: 750px;
}
#S5{
    height: 650px;
    background-color: aquamarine;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}
.img-fluid{
    height: 300px;
    width: 300px;
}
#profile-img{
    padding-top: 50px;
}
.jumbotron{
    height: 500px;
    background-color: aquamarine;
}
#s3-jumbotron{
    height: 300px;
    background-color: azure;
}
#a-pdf{
    color: white;
}
#s4-jumbotron{
    height: 600px;
}
body{
    background-image: url(Images/background_img_2.jpg);
}
#first-name{
    height: 40px;
}
#last-name{
    height: 40px;
}
#email{
    height: 40px;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}
hr.hr-for-profile{
    border-top: 1px dashed black;
}
.typed-out{
    overflow: hidden;
    white-space: nowrap;
    font-size: 20 rem;
    width: 0;
    animation: typing 4s forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
#github-icon{
    color: white;
    text-decoration: none;
}
#github-icon:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    padding: 5px 5px;
}
#jumbotron-card-deck{
    background-color: azure;
    height: 700px;
}
.click-to-download:hover{
    text-decoration: none;
}