#S1{
    height: 600px;
    background-color: azure;
}
#S5{
    height: 550px;
    background-color: aquamarine;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}
.img-fluid{
    height: 300px;
    width: 300px;
}
#profile-img{
    padding-top: 50px;
}
.jumbotron{
    /* removed height */
    background-color: aquamarine;
}
#s3-jumbotron{
    height: 300px;
    background-color: azure;
}
#a-pdf{
    color: white;
}
#s4-jumbotron{
    height: 600px;
}
body{
    background-image: url(public/Images/background_img_2.jpg);
}
#first-name{
    height: 40px;
}
#last-name{
    height: 40px;
}
#email{
    height: 40px;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}
hr.hr-for-profile{
    border-top: 1px dashed black;
}
.typed-out{
    overflow: hidden;
    white-space: nowrap;
    font-size: 20 rem;
    width: 0;
    animation: typing 4s forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
#github-icon{
    color: white;
    text-decoration: none;
}
#github-icon:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    padding: 5px 5px;
}
#jumbotron-card-deck{
    background-color: azure;
}
.click-to-download:hover,#visit-btn-a:hover{
    text-decoration: none;
}
#visit-btn-a{
    color: white;
}
.button-form{
    transition: transform 0.2s ease;
}
.button-form:active{
    transform: scale(0.96);
}
.carousel {
    width:640px;
    height:360px;
}
.p-project{
    font-size: 20px;
}
.load {
    background-color: black;
    color: black;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 4px;
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
.required{
    color: red;
}
.button-form-1{
    margin-top: 20px;
    margin-left: 180px;
}
.button-form-2{
    margin-top: 20px;
}
.card {
    padding: 15px; /* JUST TO LOOK COOL */
    border: 1px solid #eee;  /* JUST TO LOOK COOL */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}
  
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.30) 0px 19px 43px;
    transform: translate3d(0px, -2px, 0px);
    border: 1px solid black;
}


.reset-btn-new {
    margin-left: 100px;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}
   
.reset-btn-new:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.reset-btn-new:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.reset-btn-new:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
}
   
.reset-btn-new:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
   
.reset-btn-new:hover:after {
    top: -45%;
    background-color:red;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.submit-btn-new {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  .submit-btn-new span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .submit-btn-new svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .submit-btn-new:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .submit-btn-new:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .submit-btn-new:hover span {
    transform: translateX(5em);
  }
  
  .submit-btn-new:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
/* ***************Extra code(NOT IN USE)***************** */


/* #S1{
    height: 600px;
    background-color: azure;
}
#S5{
    height: 650px;
    background-color: aquamarine;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}
.img-fluid{
    height: 300px;
    width: 300px;
}
#profile-img{
    padding-top: 50px;
}
.jumbotron{
    /* removed height */
    /* background-color: aquamarine;
}
#s3-jumbotron{
    height: 300px;
    background-color: azure;
}
#a-pdf{
    color: white;
}
#s4-jumbotron{
    height: 600px;
}
body{
    background-image: url(Images/background_img_2.jpg);
}
#first-name{
    height: 40px;
}
#last-name{
    height: 40px;
}
#email{
    height: 40px;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}
hr.hr-for-profile{
    border-top: 1px dashed black;
}
.typed-out{
    overflow: hidden;
    white-space: nowrap;
    font-size: 20 rem;
    width: 0;
    animation: typing 4s forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
#github-icon{
    color: white;
    text-decoration: none;
}
#github-icon:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    padding: 5px 5px;
}
#jumbotron-card-deck{
    background-color: azure;
}
.click-to-download:hover,#visit-btn-a:hover{
    text-decoration: none;
}
#visit-btn-a{
    color: white;}
.button-form{
    transition: transform 0.2s ease;}
.button-form:active{
    transform: scale(0.96);}
.carousel {
    width:640px;
    height:360px;}
.p-project{
    font-size: 20px;}
.load {
    background-color: black;
    color: black;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 4px;
    animation: rotate 3s linear infinite;}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }} */
/* #S1{
    height: 600px;
    background-color: azure;}
#S5{
    height: 650px;
    background-color: aquamarine;}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;}
.img-fluid{
    height: 300px;
    width: 300px;}
#profile-img{
    padding-top: 50px;}
.jumbotron{
    /* removed height */
    /* background-color: aquamarine;}
#s3-jumbotron{
    height: 300px;
    background-color: azure;}
#a-pdf{
    color: white;}
#s4-jumbotron{
    height: 600px;}
body{
    background-image: url(Images/background_img_2.jpg);}
#first-name{
    height: 40px;}
#last-name{
    height: 40px;}
#email{
    height: 40px;}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;}
hr.hr-for-profile{
    border-top: 1px dashed black;}
.typed-out{
    overflow: hidden;
    white-space: nowrap;
    font-size: 20 rem;
    width: 0;
    animation: typing 4s forwards;}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }}
#github-icon{
    color: white;
    text-decoration: none;}
#github-icon:hover{
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    padding: 5px 5px;}
#jumbotron-card-deck{
    background-color: azure;}
.click-to-download:hover,#visit-btn-a:hover{
    text-decoration: none;}
#visit-btn-a{
    color: white;}
.button-form{
    transition: transform 0.2s ease;}
.button-form:active{
    transform: scale(0.96);}
.carousel {
    width:640px;
    height:360px;}
.p-project{
    font-size: 20px;}
.load {
    background-color: black;
    color: black;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 4px;
    animation: rotate 3s linear infinite;}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
} 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="bootstrap-4.6.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="front-page.css">
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="JS/script.js"></script>
    <link rel="icon" href="Images/portfolio-title-image.jpg">
</head>
<body data-spy="scroll" data-target="#MyNavBar" data-offset="60">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="MyNavBar">
        
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse-area">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- FOR STARTING MENU ABOVE -->
        <div class="col-10">
            <div class="collapse navbar-collapse" id="collapse-area">
                <ul class="navbar-nav">
                    <li class="nav-item" data-placement="bottom" title="Profile" data-toggle="tooltip">
                        <a class="nav-link mr-1" href="#S1">Profile</span></a>
                    </li>
                    <li class="nav-item mr-1" data-placement="bottom" title="About" data-toggle="tooltip">
                        <a class="nav-link" href="#S2">About</a>
                    </li>
                    <li class="nav-item mr-1" data-placement="bottom" title="Projects" data-toggle="tooltip">
                        <a class="nav-link" href="#S3">Projects</a>
                    </li>
                    <li class="nav-item mr-1" data-placement="bottom" title="Download" data-toggle="tooltip">
                        <a class="nav-link" href="#S4">Download Resume <span class="pl-1" id="download-sign"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg></span></a>
                    </li>
                    <li class="nav-item mr-1" data-placement="bottom" title="Contact" data-toggle="tooltip">
                        <a class="nav-link" href="#S5">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- FOR GITHUB LINK & ICON -->
        <div class="col-2">
            <div class="collapse navbar-collapse" id="collapse-area">
                <ul class="navbar-nav">
                    <li class="nav-item" data-placement="bottom" title="Github" data-toggle="tooltip">
                        <a class="nav-link ml-5 pt-0 pb-1">
                            <a href="https://github.com/gagan257" id="github-icon">Github
                                <span class="ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                    </svg>
                                </span>
                            </a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <!-- S1 STARTS HERE -->
    <div class="container-fluid shadow-lg">
        <div class="row align-content-center" id="S1">
            <div class="col-md-1"></div>
            <div class="col-md-4" id="profile-img">
                <img alt="No Image" src="Images/Profile-image.jpeg" alt="" class="img-fluid rounded-circle shadow-lg mb-5">
            </div>
            <div class="col-md-5">
                <div class="row"></div>
                <div class="row">
                    <h5 class="display-5 pt-5">I'M</h5>    
                </div>
                <div class="row">
                    <h4 class="display-3" id="name">Gagan Arora</h4>
                </div>
                <hr class="hr-for-profile">
                <div class="row ml-2">
                    <h5 class="display-4"><a href="" class="typewrite" style="text-decoration: none; color: red;" data-period="2000" data-type='[ "Web Developer", "Engineer", "Programmer", "Designer" ]'><span class="wrap"></span></a></h5>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <!-- S2 STARTS HERE -->
    <div class="container-fluid">
        <div class="row mb-0" id="S2">
            <div class="col mb-0">
                <div class="jumbotron mt-5 p-5 shadow-lg">
                    <h5 class="display-3 text-center">About</h5>
                    <hr id="hr-jumbo">
                    <p class="lead">Student of Inderprastha Engineering College, Ghaziabad B.Tech (Information Technology)...</p>
                    <hr class="my-3">
                    <button class="btn btn-outline-primary rounded-pill">Read more</button>
                </div>
            </div>
        </div>
    </div>
    <!-- S3 STARTS HERE -->
    <div class="container-fluid">
        <div class="row mb-2" id="S3">
            <div class="col mb-0" id="card-deck-col">
                <div class="jumbotron mt-3 p-5 mb-3 shadow-lg" id="jumbotron-card-deck">
                    <div class="row">
                        <div class="col-3">
                            <div class="load"></div>
                        </div>
                        <div class="col-6">
                            <h5 class="display-3 text-center">Projects</h5>
                        </div>
                        <div class="col-3">
                            <div class="load"></div>
                        </div>
                    </div>
                    <hr class="hr-for-profile">
                    <div class="card shadow-lg mt-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="Images/meditation-1000062__340.webp"  class="card-img" alt="">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h4 class="card-title display-4 text-center">IQ Test Website</h4>
                                    </div>
                                    <hr class="hr-for-profile">
                                    <div class="card-text">
                                        <div class="row">
                                            <p class="text-center p-project">An IQ test is an assessment that measures a range of cognitive abilities and provides a score that is intended to serve as a measure of an individual's intellectual abilities and potential. IQ tests are among the most administered psychological tests.</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <a href="IQWeb.html" id="visit-btn-a"><button class="btn btn-outline-danger mt-5 btn-lg btn-block rounded-pill button-form">Visit</button></a>
                                            </div>
                                            <div class="col-md-2 pl-0 pb-0">
                                                <a href="https://github.com/gagan257/Mini-Project" id="visit-btn-a">
                                                    <button class="btn btn-outline-danger mt-5 btn-lg rounded-pill button-form">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-github ml-2 pb-0 mb-0" viewBox="0 0 20 20">
                                                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-lg mt-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="Images/slot-machine-img-2.jpg"  class="card-img" alt="">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h4 class="card-title display-4 text-center">Slot Machine Game</h4>
                                    </div>
                                    <hr class="hr-for-profile">
                                    <div class="card-text">
                                        <div class="row">
                                            <p class="text-center p-project">Game of luck. In order to win, 3 identical Numbers must match in the row</p>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-md-10">
                                                <a href="SlotM.html" id="visit-btn-a"><button class="btn btn-outline-danger mt-5 btn-lg btn-block rounded-pill button-form">Visit</button></a>
                                            </div>
                                            <div class="col-md-2 pl-0 pb-0">
                                                <a href="https://github.com/gagan257/Slot-Machine-Game" id="visit-btn-a">
                                                    <button class="btn btn-outline-danger mt-5 btn-lg rounded-pill button-form">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-github ml-2 pb-0 mb-0" viewBox="0 0 20 20">
                                                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-lg mt-4">
                        <div class="row">
                            <div class="col-4 pt-4">
                                <img src="Images/to-do-list.png"  class="card-img" alt="">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h4 class="card-title display-4 text-center">Todo List Using jQuery</h4>
                                    </div>
                                    <hr class="hr-for-profile">
                                    <div class="card-text">
                                        <div class="row">
                                            <p class="text-center p-project">To-do lists are a list of tasks that an individual needs to complete or accomplish.</p>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-md-10">
                                                <a href="ToDo.html" id="visit-btn-a"><button class="btn btn-outline-danger mt-5 btn-lg btn-block rounded-pill button-form">Visit</button></a>
                                            </div>
                                            <div class="col-md-2 pl-0 pb-0">
                                                <a href="https://github.com/gagan257/To-Do-List-Using-JQuery" id="visit-btn-a">
                                                    <button class="btn btn-outline-danger mt-5 btn-lg rounded-pill button-form">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-github ml-2 pb-0 mb-0" viewBox="0 0 20 20">
                                                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                                        </svg>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- S4 STARTS HERE -->
    <div class="container-fluid">
        <div class="row" id="S4">
            <div class="col">
                <div class="jumbotron shadow-lg mt-5 mb-5" id="s3-jumbotron">
                    <h5 class="display-3 text-center">Download Resume</h5>
                    <hr>
                    <h5 class="display-5"> Click to Download</h5>
                    <button class="btn btn-primary btn-lg rounded-pill button-form" download>
                        <a href="Resume/Sample PDF.pdf" class="click-to-download" id="a-pdf">Download
                            <span class="ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- S5 STARTS HERE -->
    <div class="container-fluid shadow-lg" id="S5">
        <h3 class="display-3 text-center pt-5">Contact Me!</h3>
        <hr>
        <form>
            <label class="display-5 ml-1 mt-2">NAME</label>
            <div class="row" id="for-name">
                <div class="col-md-6 mb-2 mt-3">
                    <input type="text" class="form-control" placeholder="First Name" id="first-name" required>
                </div>
                <div class="col-md-6 mb-2 mt-3">
                    <input type="text" class="form-control" placeholder="Last Name" id="last-name" required>
                </div>
            </div>
            <label class="display-5 ml-1 mt-2">E-MAIL</label>
            <div class="row" id="for-email">
                <div class="col-md-6 mb-2 mt-3">
                    <input type="email" class="form-control" placeholder="abc@xyz.com" id="email" required>
                </div>
            </div>
            <label class="display-5 ml-1 mt-2">MESSAGE</label>
            <div class="row" id="for-message">
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="" class="form-control mb-3 mt-1" required></textarea>
                    </div>
                </div>
            </div>
            <input type="reset" class="btn btn-danger mr-2 btn-lg rounded-pill button-form" value="Reset">
            <input type="submit" class="btn btn-primary btn-lg rounded-pill button-form" value="Submit">
        </form>
    </div>
</body>
</html>*/