* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Segoe UI', sans-serif;
}

body {
width: 100vw;
height: 100vh;
background-image: url(Images/bg-feedback-form.jpg);
background-size: cover;
overflow: hidden;
}

.form-container {
width: 350px;
background-color: rgba(22, 22, 22, 0.096);
padding: 20px;
margin: 40px auto;
display: flex;
flex-direction: column;
gap: 20px;
border-radius: 10px;
color: white;
}
input,
textarea,
button {
padding: 9px;
border: none;
border-radius: 5px;
outline: none;
}

textarea {
resize: vertical;
}

button {
cursor: pointer;
font-weight: 500;
background-color: rgb(127, 255, 195);
}

button:hover {
background-color: rgb(69, 240, 183);
}

button:active {
background-color: rgb(149, 241, 210);
}

i {
color: rgb(59, 59, 59);
margin-left: 10px;
}

footer {
text-align: center;
}

footer a {
text-decoration: none;
color: whitesmoke;
}

.heading-h2{
    text-align: center;
}

.recapcha-div{
    text-align: center;
    justify-content: center;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}