body {
background-color: #222222;
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.container {
    background-color: #222222;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1{
    text-align: center;
    color: #f1c40f;
    font-size: 40px;
}
h2{
    text-align: center;
    color: white;
    font-size: 30px;
}

.form-group {
margin-bottom: 1rem;
}

label {
display: block;
margin-bottom: 0.5rem;
color: #ffffff;
}

input, textarea {
width: 100%;
padding: 0.5rem;
border: 1px solid #ffffff;
border-radius: 5px;
background-color: #222222;
color: #ffffff;
}

textarea {
resize: none;
height: 100px;
}

button {
display: block;
width: 100%;
padding: 0.5rem;
border: none;
border-radius: 5px;
background-color: #ffffff;
color: #222222;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: #cccccc;
}
